.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.div2 {
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    font-size: 20px;
}