@font-face {
    font-family: 'Fascinate';
    src: url('../assets/Fascinate.ttf');
}

@font-face {
    font-family: 'Nerko';
    src: url('../assets/NerkoOne.ttf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../assets/Oswald.ttf');
}

@font-face {
    font-family: 'Guerrilla';
    src: url('../assets/ProtestGuerrilla.ttf');
}

@font-face {
    font-family: 'SUSE';
    src: url('../assets/SUSE.ttf');
}