.footer {
    background-color: #1e1e1e;
    color: #f0f0f0;
    padding: 20px 20px;
    text-align: center;
    border-top: 1px solid #444;
    margin-top: 100px;
}

.footer-contenedor {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.footer-info {
    margin-bottom: 20px;
}

.footer-dire,
.footer-celu {
    font-size: 1em;
    margin: 5px;
}

.footer-social img{
    background-color: #ffffff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}


@media (max-width: 1000px) {
    .footer {
        background-color: #1e1e1e;
        color: #f0f0f0;
        padding: 2px 20px;
        text-align: center;
    }
    
    .footer-contenedor {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .footer-logo h2 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    
    .footer-info {
        margin-bottom: 20px;
    }
    
    .footer-dire,
    .footer-celu {
        font-size: 0.7em;
        margin: 5px;
    }
}
